<!DOCTYPE html>
<html>
  <head>
    <title>Bookmarks</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="row header">
      Bookmarks
    </header>

    <section class="row mt-5">
      <%= render 'layouts/left_menu' %>
      <main class="main col-8">
        <div class="container-fluid">
          <% flash.each do |name, msg| %>
            <%= content_tag(:div, msg, class: 'alert alert-info') %>
          <% end %>
          <div class="jumbotron">
            <%= yield %>
          </div>
        </div>
      </main>
      <%= render 'layouts/right_menu' %>
    </section>
  </body>
</html>
